---
layout: archive
title: ""
tab_title: "Publications"
permalink: /publications/
author_profile: true
---

<h2 style="margin-top:-0.5rem; margin-bottom:0.5rem; border-bottom:none; padding-bottom:0;">
  Peer-reviewed publications
</h2>

{% if site.author.googlescholar %}
  <p style="width:calc(100%); font-size:0.8rem; margin-top:0rem; margin-bottom:1rem; padding-bottom:0.25rem; border-bottom:1px solid var(--global-border-color);">
    You can also find my publications on
    <a href="{{ site.author.googlescholar }}" target="_blank" rel="noopener noreferrer">Google Scholar</a>
  </p>
{% endif %}

<h3 style="font-size:1rem; font-weight:bold; margin-top:0rem; margin-bottom:1rem;">
  In Preparation
</h3>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Bolo Dave L, Tsay JS, Wang T, Collins AGE, McDougle SD, Ivry RB.<br>
  Agency in action selection and action execution produce distinct biases in decision making
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Tsay JS, Wang T, Li JJ, Collins AGE, McDougle SD, Ivry RB.<br>
  Differential roles of the cerebellum and basal ganglia in movement-dependent reinforcement learning
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Ortega J, Wang T, Whitney D, Ivry RB.<br>
  Cerebellar degeneration impairs dynamic emotion tracking
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Simha SN, Selinger JC, Donelan JM.<br>
  Limited energy optimization along multiple gait dimensions in human walking
</p>

<h3 style="font-size:1rem; font-weight:bold; margin-top:1.5rem; margin-bottom:1rem;">
  Journal Articles
</h3>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  Chen Y, <strong>Abram SJ</strong>, Ivry RB, Tsay JS (2025).<br>
  <a href="{{ base_path }}/files/Chen_2025_ProcRSocB.pdf" target="_blank">
    Indirect feedback hinders explicit sensorimotor adaptation
  </a><br>
  <em>Proceedings of the Royal Society B: Biological Sciences</em>, 292(2051), 20251407.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>*, Tsay JS*, Yosef H, Reisman DS, Kim HE (2025).<br>
  <a href="{{ base_path }}/files/Abram_2025_NNR.pdf" target="_blank">
    The detrimental effect of stroke on motor adaptation
  </a><br>
  <em>Neurorehabilitation and Neural Repair</em>, 39(3), 213–225.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  Wang T, Avraham G, Tsay JS, <strong>Abram SJ</strong>, Ivry RB (2024).<br>
  <a href="{{ base_path }}/files/Wang_2024_PLoSComputBiol.pdf" target="_blank">
    Perturbation variability does not influence implicit sensorimotor adaptation
  </a><br>
  <em>PLOS Computational Biology</em>, 20(4), e1011951.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  van Mastrigt NM, Tsay JS, Wang T, Avraham G, <strong>Abram SJ</strong>, van der Kooij K, Smeets JBJ, Ivry RB (2023).<br>
  <a href="{{ base_path }}/files/vanMastrigt_2023_ExpBrainRes.pdf" target="_blank">
    Implicit reward-based motor learning
  </a><br>
  <em>Experimental Brain Research</em>, 241(9), 2287–2298.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Poggensee KL, Sánchez N, Simha SN, Finley JM, Collins SH, Donelan JM (2022).<br>
  <a href="{{ base_path }}/files/Abram_2022_CurrBiol.pdf" target="_blank">
    General variability leads to specific adaptation toward optimal movement policies
  </a><br>
  Featured in a Dispatch article 
  <a href="{{ base_path }}/files/Roemmich_2022_CurrBiol.pdf" target="_blank">
  Motor control: In constant pursuit of optimality</a><br>
  <em>Current Biology</em>, 32(10), 2222–2232.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  Simha SN, Wong JD, Selinger JC, <strong>Abram SJ</strong>, Donelan JM (2021).<br>
  <a href="{{ base_path }}/files/Simha_2021_JNeurophysiol.pdf" target="_blank">
    Increasing the gradient of energetic cost does not initiate adaptation in human walking
  </a><br>
  <em>Journal of Neurophysiology</em>, 126(2), 440–450.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Selinger JC, Donelan JM (2019).<br>
  <a href="{{ base_path }}/files/Abram_2019_JBiomech.pdf" target="_blank">
    Energy optimization is a major objective in the real-time control of step width in human walking
  </a><br>
  <em>Journal of Biomechanics</em>, 91, 85–91.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  Kashiri N, Abate A, <strong>Abram SJ</strong>, et al. (2018).<br>
  <a href="{{ base_path }}/files/Kashiri_2018_FrontRobotAI.pdf" target="_blank">
    An overview on principles for energy efficient robot locomotion
  </a><br>
  <em>Frontiers in Robotics and AI</em>, 5, 129.
</p>

<h3 style="font-size:1rem; font-weight:bold; margin-top:1.5rem; margin-bottom:1rem;">
  Conference Proceedings
</h3>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Bolo Dave L, Tsay JS, Wang T, Collins AGE, McDougle SD, Ivry RB (2025).<br>
  <a href="{{ base_path }}/files/Abram_2025_RLDM.pdf" target="_blank">
    Agency in action selection and action execution produce distinct biases in decision making
  </a><br>
  <em>Proceedings of the 6th Multidisciplinary Conference on Reinforcement Learning and Decision Making</em>.
</p>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  Cisneros E, Bol K, Collins AGE, <strong>Abram SJ</strong>, Ivry RB, Tsay JS (2025).<br>
  <a href="{{ base_path }}/files/Cisneros_2025_RLDM.pdf" target="_blank">
    No evidence for the role of the cerebellum in value-based decision making
  </a><br>
  <em>Proceedings of the 6th Multidisciplinary Conference on Reinforcement Learning and Decision Making</em>.
</p>

<h3 style="font-size:1rem; font-weight:bold; margin-top:1.5rem; margin-bottom:1rem;">
  Book Chapters
</h3>

<p style="font-size:0.8rem; margin-bottom:0.8rem;">
  <strong>Abram SJ</strong>, Chirino-Pérez A, Wang T, Ivry RB (Under Review).<br>
  Cerebellar contributions to human social cognition<br>
  In <em>The Cognitive and Affective Cerebellum: Current Perspectives into Function and Mechanisms</em>. Advances in Neurobiology, Springer.
</p>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



